
a {
  text-decoration: none;
  color: white;
}

html,
body,
/*.container {
  height: 100%;
  padding: 0;
  margin: 0;
}*/

.react {
  height: 100%;
}

.nav {
  margin: 0;
  color: white;
  background: #696969;
  width: 200px;
-ms-flex: 0 1rem;
-webkit-box-flex:  0;
-moz-box-flex:  0;
-ms-box-flex:  0;
box-flex:  0;
display: flex;
justify-content: flex-start;
-webkit-box-orient: vertical;
-moz-box-orient: vertical;
-webkit-box-direction: normal;
-moz-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
}

.main {
  margin: 0;
  background: #e8e5e5;
 -ms-flex: 1;
 -webkit-box-flex: 1;
 -moz-box-flex: 1;
 -ms-box-flex: 1;
 box-flex: 1;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-content: flex-start;
 align-items: inherit;
}

span[class*="glyphicon-one-fine"] {
    padding-top: 0.46em;
    padding-right: 0.4em;
}

.glyphicon-one-fine-green-dot:before {
    content:"\25cf";
    font-size: 0.7em;
    color: #34A853;
}

.glyphicon-one-fine-empty-dot:before {
    content:"\25cb";
    font-size: 0.7em;
}

.btn-primary {
  border: none;
}

/*CHANNEL*/







/* DASHBOARD TEXTING */

/*Sender of message*/
.dashName {
  color:  #808080;
  margin-left: 10px;
  background: 'Transparent';
  background-repeat: 'noRepeat';
  border: 'none';
  cursor: 'pointer';
  overflow: 'hidden';
  outline: 'none';
}

/*Time sent*/
.dashTime {
  color:  #808080;
  margin-left: 10px;
  opacity: '0.5';
}

/*Message text*/
.dashMess {
  color:  #696969;
  margin-left: 10px;

  clear: 'both';
  padding-top: '0.1em';
  margin-top: '-1px';
  padding-bottom: '0.3em';
}


